<template>
  <div class="container">
    <div class="today">
      <h1>{{today}}</h1>
    </div>
    <TaskComponent
        :tasks="taskArray"
    >
    </TaskComponent>
  </div>
</template>
<script>
// @ is an alias to /src
import axios from 'axios'
import TaskComponent from "@/components/TaskComponent";
export default {
  name: 'HomeView',
  components:{
    TaskComponent,
  },
  data: function(){
    return{
      today: {},
      taskArray:{},
      taskId: ""
    }
  },
  methods:{
    getDate(){
      let monthArray = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]
      const today = new(Date);
      this.today= `${today.getDate()} de ${monthArray[today.getMonth()]} del ${today.getFullYear()}`;
    },
    async getTask(){
      const result = await axios.get("http://localhost:3000/task");
      this.taskArray = result.data
    }
  },
  beforeMount() {
    this.getDate()
    this.getTask()
  }
}

</script>
