<template>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
      <div class="add-control">
        <div class="form-group has-feedback">
          <input type="text" v-model="taskTexto" @keyup.enter="addTask"   class="form-control" placeholder="✍️ Add item..." />
          <i class="fa fa-plus form-control-feedback add-btn" title="Add item" v-on:click="addTask"></i>
        </div>
      </div>
      <p class="err text-danger text-center hidden"><i class="fa fa-warning"></i> Oops! Please, enter name item</p>
      <p class="no-items text-muted text-center hidden"><i class="fa fa-ban"></i></p>
      <ul class="todo-list">
      </ul>
      <ul class="todo-list ui-sortable" >
        <li :class="{danger : task.isActive}" v-for="task in tasks" :key="task.id">
          <div class="checkbox">
            <span class="close" v-on:click="remove">
              <i class="fa fa-times"></i>
            </span>
            <label>
              <span class="checkbox-mask" ></span>
              <input type="checkbox" v-on:click="check(task)">{{task.text}}</label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "TaskComponent",
  data: function(){
    return{
      isActive: false,
      taskTexto: "",
    }
  },
  props:{
    tasks:{
      type:[Object]
    },
    taskId:{
      type: String
    },
  },
  methods:{
    check(tarea){
      console.log("Click")
      tarea.isActive = !tarea.isActive;
    },

    remove(){
      console.log("Eliminar")

    },

    async addTask(){
      let randLetter = String.fromCharCode(65 + Math.floor(Math.random() * 26));
      console.log("prueba")
       const data = {
         _id: randLetter,
         text: this.taskTexto,
         isActive: false
       };

      axios.post('http://localhost:3000/task', data)
          .then(response => {console.log(response);})
      this.$forceUpdate()
    },
  }
}
</script>

<style scoped>

</style>